<p id="notice"><%= notice %></p>

<%-# <%= image_tag @article.image.url %>  
<%= image_tag @article.image.url(:medium) %>
<%-#<%= image_tag @article.image.url(:thumb) %>
<p>
  <strong>UPC:</strong>
  <%= @article.upc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>
<%= link_to 'Back', articles_path %>
